<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Souza Restaurante</title>
</head>
<body>

    <div>
        <h1>SOUZA</h1>
        <h3>Lo mejor de la gastronomía en un mismo lugar</h3>
    </div>

    <button onclick="window.location.href='/reserva'">RESERVA YA</button>

    <ul>
        <li><a href="/mar">MAR</a></li>
        <li><a href="/tierra">TIERRA</a></li>
        <li><a href="/especialidades">ESPECIALIDADES</a></li>
    </ul>
     
    <p>sobre nosotros</p>
    <br>
    <p>Restaurante fundado en 2010 con la misión de ofrecer la mejor gastronomía regional.</p>
    <p>Síguenos en redes sociales</p>
    <ul>
        <li><a href="https://www.facebook.com/souza">Facebook</a></li>
        <li><a href="https://www.instagram.com/souza">Instagram</a></li>
        <li><a href="https://www.twitter.com/souza">Twitter</a></li>
    </ul>

    <footer>
        <p>&copy; 2023 Souza Restaurante. Todos los derechos reservados.</p>
    </footer>
</body>
</html>