<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva</title>
</head>
<body>
    <div class="w3-card">
  <p>Haz tu reserva ahora</p>

    <form action="/reserva" method="post">
        <label for="name">Nombre:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="date">Fecha:</label><br>
        <input type="date" id="date" name="date" required><br>
        <label for="time">Hora:</label><br>
        <input type="time" id="time" name="time" required><br>
        <label for="guests">Número de personas:</label><br>
        <input type="number" id="guests" name="guests" min="1" required><br><br>
        <input type="submit" value="Reservar">
    <p>¡Te esperamos!</p>
</div>

<button onclick="location.href='/'">VOLVER</button>

</body>
</html>